<% if @user.errors.any? %>
  <div class="alert alert-warning">
    <ul>
    <%= @user.errors.count%>error
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<h1>User info</h1>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :Name %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="form-group has-icon user-edit">
    <%= f.label :Image %><br/>
    <%= f.attachment_field :profile_image, placeholder: "Image", class: "user-edit-form" %>
  </div>

  <div class="field user-edit">
    <%= f.label :Introduction %><br/>
    <%= f.text_area :introduction, autofocus: true, autocomplete: "introduction" %>
  </div>

  <div class="actions">
    <%= f.submit "Update User" %>
  </div>
  <% end %>
  
